* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.content,
.title,
.button-container {
  background: #e3f4ff;
}

.title,
.content {
  margin-bottom: 8px;
}
.title {
  padding: 8px;
  margin-top: 8px;
}

.content {
  padding: 16px 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 12px;
  display: block;
  margin: auto;
}

.button-container {
  text-align: center;
  padding: 8px;
}
